@page "/Account/Manage/PersonalData"

@inject IdentityUserAccessor UserAccessor
<style>
    h1, h2, h3 {
        font-family: 'Poppins', sans-serif;
        color: #6c2c0a;
        font-weight: bold;
    }

    .btn-primary {
        color: #fff;
        background-color: coral;
        border: none;
        padding: 0.6rem 1.3rem;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
        box-shadow: 0 4px 12px rgba(242, 100, 25, 0.3);
        display: inline-block;
        text-decoration: none;
        user-select: none;
    }

        .btn-primary:hover {
            background-color: brown;
            transform: translateY(-2px);
            box-shadow: 0 6px 16px rgba(211, 84, 0, 0.5);
        }

</style>
<PageTitle>Personal Data</PageTitle>

<StatusMessage />
<h3>Personal Data</h3>

<div class="row">
    <div class="col-md-6">
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <form action="Account/Manage/DownloadPersonalData" method="post">
            <AntiforgeryToken />
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        <p>
            <a href="Account/Manage/DeletePersonalData" class="btn btn-danger">Delete</a>
        </p>
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}
